html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(250, 243, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  height: 500px;
  width: 500px;
}
.grid-item {
  background-color: rgb(168, 38, 255);
  border: 1px solid white;
}
.active {
  background-color: black;
}
